<% unless @videos.blank? %>
	<h4 class="breadcrumb"> Meus vídeos </h4>
	<ul id="header">
		<li>
			<div class="position"> Posição </div>	
			<div class="title"> Título </div>
			<div class="title"> Arquivo </div>
			<div class="size"> Tamanho </div>
			<div class="live"> No ar </div>	
			<div class="queue"> Na fila </div>	
		</li>
	</ul>
	
	<ul id="sortable">
		<% @videos.each do |video| %>
	    	<li class="navbar-inner" id="<%=video.id%>">			 			
				<div class="position"><span class="badge"> <%= video.position %> </span></div>	
				<div class="title"> <%= truncate(video.title, :length => 40) %> </div>
				<div class="title"> <%= video.archive_file_name %> </div>
				<div class="size"> <%= number_with_precision ((video.archive_file_size / 1.kilobyte)  / 1000.0), :precision => 2 %> MB </div>
				<div class="live"> <%=  video.live ? image_tag("correct.png") : '' %> </div>	
				<div class="queue"> <%=  video.queue ? image_tag("correct.png") : '' %> </div>
			</li>
		<% end %>
	</ul>
<% end %>
<script>
   $(function() {
       $( "#sortable" ).sortable({
           revert: true,
   	       stop: function(event, ui) {
			   var position = ui.item.index()  + 1;
			   var id = ui.item.attr("id");
  			   var url = "/change_position/"+id+"/"+position;

			   $.ajax({
					type: "POST",
					url: url,
					beforeSend: function(){
						jQuery("#loading").fadeIn();
					},
					success: function(response){
						jQuery("#loading").fadeOut();
					}
			   });
		   },
		   
		  placeholder: {
		        element: function(currentItem) {
		            return $("<em class='box-sortable'></em>")[0];
		        },
		        update: function(container, p) {
		            return;
		        }
		    }
       });

       $( "ul, li" ).disableSelection();
   });
</script>