<div id="form">		
	<%= form_for(@video, :html => { :multipart => true, :class => "" }, :remote => true) do |f| %>  
		<div id="error_explanation" class="alert alert-error" style="display:none;">
			<%= error(@video) if @video.errors.any? %>
		</div>

		<div class="field">
			<%= f.label :title, "Título" %>
			<%= f.text_field :title %>
		</div>

		<div class="field">
			<%= f.label :archive, "Arquivo" %>
			<%= f.file_field :archive %>
		</div>

		<div class="submit">
			<%= f.submit :class => "save" %>
		</div>
	<% end %>
</div> 	

<div id="list_videos">	
 	<%= render 'list_videos' %>		
</div>

<script>
jQuery(function(){
	jQuery("#close").click(function(){
		jQuery("#error_explanation").fadeOut();
	});
}); 
</script>